# 모든 파일과 폴더 무시
*

# .gitignore 파일은 추적해야 함
!.gitignore

# md 파일은 추적해야 함
!*.md

# prd, docs 폴더는 추적해야 함
!prds/
!prds/**
!docs/
!docs/**

# mwb 파일은 추적해야 함
!*.mwb

# 모든 폴더의 .DS_Store 무시                                                                                                       
.DS_Store     
